agente-ai/fluxs/fluxo-instagram.json
{
  "name": "Fluxo_Instagram_Atualizado",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "246db12b-0c61-4765-bb9d-9a25407040ce",
      "name": "Resposta - Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        420
      ]
    },
    {
      "parameters": {
        "content": "## Conecta Exército na DM [Adeus Manychat]",
        "height": 320,
        "width": 1268,
        "color": 3
      },
      "id": "709f2164-4591-4551-b22e-79b580859060",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        700
      ]
    },
    {
      "parameters": {
        "content": "## Arma Secreta Insta - Post\n• Recebe interações, como mensagens e comentários no Instagram.\n• Confirma se não são de nossa autoria.\n• Se for um comentário, responde o comentário.\n",
        "height": 353,
        "width": 1016,
        "color": 4
      },
      "id": "52f75bc9-c420-46f9-b33e-97803c0ef254",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Arma Secreta Insta- Get  \nUtilizado apenas uma única vez.  ",
        "height": 321,
        "width": 922,
        "color": 6
      },
      "id": "ed92f491-2c57-4810-9f4d-12c307075149",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        300
      ]
    },
    {
      "parameters": {
        "path": "encha",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ea66b375-bafc-49f8-b4b6-74ac0ae93af6",
      "name": "Webhook - Challenge",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        40,
        420
      ],
      "webhookId": "6761f957-d6b3-4b12-88fc-8619b26eea03"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "encha",
        "options": {}
      },
      "id": "61023164-eaf9-43cc-979b-a1c3f5cf3d05",
      "name": "Webhook - Conteudo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        980,
        460
      ],
      "webhookId": "6761f957-d6b3-4b12-88fc-8619b26eea03",
      "disabled": true
    },
    {
      "parameters": {
        "content": "![Instagram](https://encha.ai/wp-content/uploads/2025/01/Logo-Insta-branca.png)",
        "height": 260,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        -20
      ],
      "id": "08f74d88-51be-40a5-8db6-f79031a0355a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "![Encha](https://encha.ai/wp-content/uploads/2025/01/Logo-ENCHA_AI-1.png)",
        "height": 259,
        "width": 1060,
        "color": 6
      },
      "id": "97305ab2-d326-4134-9191-8f80b0b183a5",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        -20
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "encha",
        "options": {}
      },
      "id": "20ab4b6b-889c-4187-b6ba-2bafc468f07c",
      "name": "Webhook - Conteudo1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        60,
        820
      ],
      "webhookId": "6761f957-d6b3-4b12-88fc-8619b26eea03",
      "disabled": true
    },
    {
      "parameters": {
        "content": "UTILIZAR SE QUISER SOMENTE RESPOSTAS NOS COMENTÁRIOS",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        300
      ],
      "typeVersion": 1,
      "id": "9dbc2af5-a9f4-476e-b862-1029a45d93eb",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c4001fe-b9e6-4829-babf-c0ce45b6ed57",
              "name": "endpoint",
              "value": "=https://graph.instagram.com/v22.0",
              "type": "string"
            },
            {
              "id": "a4b162b7-88f8-47a7-b78c-7a09ceb50e2c",
              "name": "conta.id",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "d13b88db-654a-4df3-b88a-19cc5bfa2d8c",
              "name": "user.id",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "22848b6f-5d3b-466d-8dcd-ddceeaf8be73",
              "name": "user.name",
              "value": "={{ $json.body.entry[0].changes[0].value.from.username }}",
              "type": "string"
            },
            {
              "id": "5af40082-0b88-4254-8d3f-d163f059b06e",
              "name": "user.msg.id",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "15ab2e3a-d3e4-4348-8be0-0923d394168c",
              "name": "user.msg.text",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            },
            {
              "id": "ffb0ef17-f824-4d9d-a5ba-18191e566568",
              "name": "user.media.id",
              "value": "={{ $json.body.entry[0].changes[0].value.media.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        820
      ],
      "id": "8828b579-706e-433c-bbfa-b6945a0e09ad",
      "name": "Normaliza"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normaliza').item.json.endpoint }}/{{ $('Normaliza').item.json.user.msg.id }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=@{{ $('Normaliza').item.json.user.name }} fazendo teste"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        880
      ],
      "id": "df5f0d67-d759-4cff-883c-3513bd5af596",
      "name": "Responde Comentário",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nYVaTHZqQFQyr87z",
          "name": "Credencial Insta Harry Teste"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normaliza').item.json.endpoint }}/{{ $('Normaliza').item.json.conta.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.text",
              "value": "MENSAGEM DA DM"
            },
            {
              "name": "recipient.comment_id",
              "value": "={{ $('Normaliza').item.json.user.msg.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        880
      ],
      "id": "a61f64f3-b86f-4974-b359-30edaa42b30e",
      "name": "Responde DM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nYVaTHZqQFQyr87z",
          "name": "Credencial Insta Harry Teste"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normaliza1').item.json.endpoint }}/{{ $('Normaliza1').item.json.user.msg.id }}/replies",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=@{{ $('Normaliza1').item.json.user.name }} fazendo teste"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        500
      ],
      "id": "2a7fd88d-f0d7-4007-9287-7a8cb522a54f",
      "name": "Responde Comentário1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nYVaTHZqQFQyr87z",
          "name": "Credencial Insta Harry Teste"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c4001fe-b9e6-4829-babf-c0ce45b6ed57",
              "name": "endpoint",
              "value": "=https://graph.instagram.com/v22.0",
              "type": "string"
            },
            {
              "id": "a4b162b7-88f8-47a7-b78c-7a09ceb50e2c",
              "name": "conta.id",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "d13b88db-654a-4df3-b88a-19cc5bfa2d8c",
              "name": "user.id",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "22848b6f-5d3b-466d-8dcd-ddceeaf8be73",
              "name": "user.name",
              "value": "={{ $json.body.entry[0].changes[0].value.from.username }}",
              "type": "string"
            },
            {
              "id": "5af40082-0b88-4254-8d3f-d163f059b06e",
              "name": "user.msg.id",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "15ab2e3a-d3e4-4348-8be0-0923d394168c",
              "name": "user.msg.text",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            },
            {
              "id": "ffb0ef17-f824-4d9d-a5ba-18191e566568",
              "name": "user.media.id",
              "value": "={{ $json.body.entry[0].changes[0].value.media.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        460
      ],
      "id": "0b459909-e287-49b8-96a7-52f8fc114589",
      "name": "Normaliza1"
    },
    {
      "parameters": {
        "content": "UTILIZAR SE QUISER TAMBÉM CHAMAR O USUÁRIO NA DM",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        700
      ],
      "typeVersion": 1,
      "id": "147b5fcf-d35f-48cf-9119-9972230f74d9",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4af705a6-1cd2-48dd-81ae-458f692502ab",
              "leftValue": "={{ $json.conta.id }}",
              "rightValue": "={{ $json.user.id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        460
      ],
      "id": "1a720f90-7285-4dcb-b1c5-9a86525e8b01",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        320
      ],
      "id": "7cb204a4-ab18-474b-be1a-23c1a2599e71",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4af705a6-1cd2-48dd-81ae-458f692502ab",
              "leftValue": "={{ $json.conta.id }}",
              "rightValue": "={{ $json.user.id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        820
      ],
      "id": "2b8b34e7-0bd2-44c2-a05f-e55d63b20f88",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        720
      ],
      "id": "abd5668f-38e3-440d-a68e-40ee9cd1b979",
      "name": "No Operation, do nothing1"
    }
  ],
  "pinData": {
    "Webhook - Conteudo": [
      {
        "json": {
          "headers": {
            "host": "teste.valparaiso.pro",
            "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
            "content-length": "318",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "173.252.95.14",
            "x-forwarded-host": "teste.valparaiso.pro",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c0c9dcb1c5fa",
            "x-hub-signature": "sha1=a453627e39186af6851c65c05b1caa14aa86b119",
            "x-hub-signature-256": "sha256=2945b9f5c22493df01fb4d146a564d8d12b5352c0791f2a3acd3266173d95ac8",
            "x-real-ip": "173.252.95.14",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "entry": [
              {
                "id": "17841470141371280",
                "time": 1751281289,
                "changes": [
                  {
                    "value": {
                      "from": {
                        "id": "1366525881100789",
                        "username": "harryson_campos_martins5"
                      },
                      "media": {
                        "id": "17861529735430243",
                        "media_product_type": "FEED"
                      },
                      "id": "18052803236113144",
                      "text": "Teste"
                    },
                    "field": "comments"
                  }
                ]
              }
            ],
            "object": "instagram"
          },
          "webhookUrl": "https://webhook.valparaiso.pro/webhook-test/encha",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook - Challenge": {
      "main": [
        [
          {
            "node": "Resposta - Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Conteudo": {
      "main": [
        [
          {
            "node": "Normaliza1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Conteudo1": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde Comentário": {
      "main": [
        [
          {
            "node": "Responde DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde Comentário1": {
      "main": [
        []
      ]
    },
    "Normaliza1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde Comentário1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responde Comentário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9a0e6be-eb8c-4a42-939b-e6708179dfa2",
  "meta": {
    "instanceId": "d94ad27dbf2fdd59c03906cc4b6706d1ac1ed27d498846082a07cfa7a9bbf9a3"
  },
  "id": "lXMUWfLbHWJOtnjq",
  "tags": [
    {
      "createdAt": "2025-02-17T21:31:47.427Z",
      "updatedAt": "2025-02-17T21:31:47.427Z",
      "id": "N3Z6sQyJwiKaGYag",
      "name": "ENCHA FLUXOS"
    }
  ]
}