agente-ai/fluxs/flux-agendamentos.json
{
  "name": "[Encha] Super IA Plus - Com Agendamentos",
  "nodes": [
    {
      "parameters": {},
      "id": "1d84490b-58a5-46a6-bea7-6b6b7f3deb1b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        960,
        680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "2f4f1552-7971-4b58-9f1d-7a65da5e9ac3",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1680,
        840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "122f8b3e-9b8b-4822-b748-bf49280e4f62",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1720,
        980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "34380048-82e5-4bac-90fd-f8c22fb93fca",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1460,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "E0HiXC8Aevp0YpnH",
          "name": "OpenAi Aula Vap"
        }
      }
    },
    {
      "parameters": {
        "content": "Inserindo Aprendizado na Base de Dados",
        "height": 578,
        "width": 1224,
        "color": 4
      },
      "id": "68763181-e784-44d5-879d-46c2b2f10362",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        580
      ]
    },
    {
      "parameters": {
        "name": "produtos",
        "description": "Use essa ferramenta para buscar informações sobre produtos de estética"
      },
      "id": "ead411e8-c81f-4707-a6f4-7f897afb95d0",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        3900,
        160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a17af37b-03e7-4da6-b5f8-7163ec8b4464",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4260,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "E0HiXC8Aevp0YpnH",
          "name": "OpenAi Aula Vap"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5a0f6cce-d98d-4716-9de6-7b6b4a7345a8",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        4060,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "E0HiXC8Aevp0YpnH",
          "name": "OpenAi Aula Vap"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "aula",
          "mode": "list",
          "cachedResultName": "aula"
        },
        "options": {}
      },
      "id": "579681e4-ea4d-4416-ae1b-2e01306e5028",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        3840,
        320
      ],
      "credentials": {
        "pineconeApi": {
          "id": "JA3PuNXEQTTYtCTc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados Evo').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Dados Evo').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "75d14664-285a-4b55-8df8-72b507a315fe",
      "name": "Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        -220
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17694db0-6248-444f-afb9-ff7ed13996ef",
              "name": "pergunta",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7ea2dffd-b06d-4dd6-ad11-89e16b1c7e54",
      "name": "Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1620,
        -40
      ],
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados Evo').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Dados Evo').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados Evo').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "cf241b6f-663d-4df1-b2a8-8ae6d1464256",
      "name": "Imagens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        260
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "telefone",
              "value": "={{ $('Webhook1').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a6004904-d9e1-4627-be79-d2a5b073d44f",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b59f282c-b643-46ff-b427-4358ca20b2f5",
      "name": "Mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados Evo').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Dados Evo').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados Evo').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "72434001-8704-4821-8c8b-f6702ab11bb4",
      "name": "Documentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1620,
        420
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "id": "68982a76-d9de-40e6-b6fe-8343d924b6bc",
      "name": "Conversor Áudio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1780,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": ""
        }
      },
      "id": "aa8c5f24-06b2-4073-8710-6502897318bd",
      "name": "Conversor Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1780,
        260
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "=image {{ $('Tipo de Mídia').item.json.body.data.message.documentMessage.fileName }}",
          "mimeType": "={{ $('Tipo de Mídia').item.json.body.data.message.documentMessage.mimetype }}"
        }
      },
      "id": "6624be5e-c99a-44c2-9fc8-3af8271fca0e",
      "name": "Conversor Docs",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1760,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "telefone",
              "value": "={{ $('Webhook1').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "59fd3a53-08be-41db-b91e-9abccd7ef4ad",
              "name": "Audio",
              "value": "={{ $json.text || '' }}",
              "type": "string"
            },
            {
              "id": "1f3efabc-087b-4843-8766-742b9109e955",
              "name": "WhatsWeb",
              "value": "={{ $json.pergunta || ''}}",
              "type": "string"
            },
            {
              "id": "60d6b895-fea6-4d7f-932a-b8771c97242e",
              "name": "WhatsAppApp",
              "value": "={{ $json.mensagem || '' }}",
              "type": "string"
            },
            {
              "id": "f45d0d25-8456-4a53-9290-69eed044964e",
              "name": "Imagem",
              "value": "={{ $json.content || ''}}",
              "type": "string"
            },
            {
              "id": "0d9377f3-acbb-49ed-9254-ef9e3e561465",
              "name": "Documento",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c38de208-8042-4d47-a0fc-6b43e82f7d52",
      "name": "Normaliza",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2140,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b7bef37-abbe-4207-aae0-5447388019a3",
              "name": "baseUrl",
              "value": "https://evo.valparaiso.pro",
              "type": "string"
            },
            {
              "id": "67c50f2f-89e2-4a5c-84c2-c2ac76962f6e",
              "name": "apikey",
              "value": "1AB74D0E52A8-4BC3-92B6-7FDF9FBBA50E",
              "type": "string"
            },
            {
              "id": "9177d222-437a-4284-a96f-115fba66662c",
              "name": "instancia",
              "value": "Aula",
              "type": "string"
            },
            {
              "id": "8d6c586e-0f00-4100-bc40-231cda7f93b7",
              "name": "WhatsApp",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "efe4596a-3691-46ad-839b-dd30565e8c1e",
              "name": "data",
              "value": "={{ $now.format('dd/LL/yyyy HH:mm:ss') }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2685c490-7ddc-469f-8662-0bbcf4bad8d3",
      "name": "Dados Evo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1160,
        200
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.telefone }}",
        "messageData": "={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}",
        "tail": true
      },
      "id": "84ddf76c-4333-4c02-b860-f944d9592723",
      "name": "Captura Mensagens",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2180,
        260
      ],
      "credentials": {
        "redis": {
          "id": "2JHsCi9XbhNHMObQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagem",
        "key": "={{ $json.telefone }}",
        "options": {}
      },
      "id": "08143b3f-46c2-406b-8cfe-c0489fac0415",
      "name": "Solta Mensagens",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2420,
        280
      ],
      "credentials": {
        "redis": {
          "id": "2JHsCi9XbhNHMObQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.telefone }}"
      },
      "id": "6cd195d6-a1ee-46d8-b9f9-ef111de88b2b",
      "name": "Deleta Mensagem",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2940,
        120
      ],
      "credentials": {
        "redis": {
          "id": "2JHsCi9XbhNHMObQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bce70488-3d4e-412d-9c28-4858906bc722",
              "name": "mensagem",
              "value": "={{ $('Solta Mensagens').item.json.mensagem.join('\\n') }}",
              "type": "string"
            },
            {
              "id": "abca95c7-60a4-474b-95ed-a22557fa8af7",
              "name": "telefone",
              "value": "={{ $('Wait1').item.json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "292f23b2-4b20-47d3-a8ce-77581b60324c",
      "name": "Junta o Pacote",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2740,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9e9b4155-e399-4936-a5db-2d79c8cb871f",
              "leftValue": "={{ $json.mensagem.last() }}",
              "rightValue": "={{ $('Normaliza').item.json.Audio || $('Normaliza').item.json.WhatsWeb || $('Normaliza').item.json.WhatsAppApp || $('Normaliza').item.json.Imagem }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ba007590-2146-47a3-89f4-7b39316a2132",
      "name": "Controle",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2580,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "96571b40-c84c-4a15-8ea9-697b5c9a5cc8",
        "options": {}
      },
      "id": "c00e801d-e504-4a4a-9e30-9adb151ebfc3",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        920,
        -40
      ],
      "webhookId": "96571b40-c84c-4a15-8ea9-697b5c9a5cc8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $json.body.data.message.audioMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4b94d2ac-53e5-4153-9377-4cc6db20cb1c",
                    "leftValue": "={{ $json.body.data.message.extendedTextMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $json.body.data.message.conversation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $json.body.data.message.imageMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f33566fd-3eb9-45f4-934a-3a39e2adca6c",
                    "leftValue": "={{ $('Webhook1').item.json.body.data.messageType === 'documentMessage' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "7ad4bb90-c4f4-4b37-9e4e-1798a368ff48",
      "name": "Tipo de Mídia",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1420,
        120
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "ec19c37f-a48d-4be3-9246-a6326d0a541d",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2420,
        20
      ],
      "webhookId": "f5855202-022a-4e10-8acf-b1de13791ec3"
    },
    {
      "parameters": {},
      "id": "0f66cb40-2881-441f-9a63-56227f05cc7c",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2740,
        300
      ]
    },
    {
      "parameters": {},
      "id": "d875db87-a650-4f2a-9221-b6e45c2d8ca5",
      "name": "Calculator1",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        3800,
        160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "85dd25c1-3eb9-4848-bf69-7abe557ce47e",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3360,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "E0HiXC8Aevp0YpnH",
          "name": "OpenAi Aula Vap"
        }
      }
    },
    {
      "parameters": {
        "content": "Filtro de Mídia",
        "height": 816.5290239444287,
        "width": 1231.9510817704675,
        "color": 5
      },
      "id": "9f67f2a7-8e79-4256-b28c-a22270787b68",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -240
      ]
    },
    {
      "parameters": {
        "content": "Junção das Mensagens",
        "height": 815.1387498390843,
        "width": 952.7060569889857,
        "color": 6
      },
      "id": "49bac859-cba0-4c4f-9f32-6d4fcea9f153",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2120,
        -240
      ]
    },
    {
      "parameters": {
        "content": "IA",
        "height": 959,
        "width": 1316,
        "color": 4
      },
      "id": "caa03e43-d3e7-49f4-b467-d013d5269932",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3140,
        -300
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone }}",
        "sessionTTL": 100000
      },
      "id": "32368ebd-8303-46d4-9924-600df5ff3394",
      "name": "Redis Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        3080,
        960
      ],
      "credentials": {
        "redis": {
          "id": "2JHsCi9XbhNHMObQ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f4948e31-4f8a-442e-82b1-627b61b55a4f",
      "name": "Extrair Dados1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1920,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados Evo').item.json.baseUrl }}/message/sendText/{{ $('Dados Evo').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Dados Evo').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Dados Evo').item.json.body.data.key.remoteJid }}\",\n    \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n     \"delay\": 1200\n}",
        "options": {}
      },
      "id": "e64732e3-52b9-422c-a9ef-8cbed4e90292",
      "name": "Enviar Mensagem WhatsApp Evo 2.1.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3940,
        -100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "bb5c1ebd-99fc-49bf-a884-06445e514b7f",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1940,
        -220
      ],
      "credentials": {
        "openAiApi": {
          "id": "E0HiXC8Aevp0YpnH",
          "name": "OpenAi Aula Vap"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise essa imagem, oque tem nela?",
        "inputType": "base64",
        "options": {}
      },
      "id": "c31d3d76-236c-43b7-99f5-0dccd4a692fd",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1920,
        260
      ],
      "credentials": {
        "openAiApi": {
          "id": "E0HiXC8Aevp0YpnH",
          "name": "OpenAi Aula Vap"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Junta o Pacote').item.json.mensagem }}{{ $json.mensagem }}",
        "options": {
          "systemMessage": "=Este assistente virtual é desenvolvido para oferecer suporte eficiente e amigável na gestão de agendamentos e cancelamentos de consultas na clínica de estética “Encha de Beleza”. Ele ajuda os clientes a visualizar horários disponíveis, agendar consultas. A sua missão é verificar disponibilidade, criar consultas e cancelar consultas. Mantenha o foco em identificar as variáveis “dia da consulta”, “horário da consulta”, “procedimento” e “email do cliente”. Verifique em que etapa está a conversa e siga os passo a passo.\n\nRegra de comunicação: evite ser repetitivo, quando souber uma das variáveis não pergunte novamente.\n\nEtapa de Verificar Disponibilidade\nObjetivo: nessa etapa você irá descobrir as variáveis “dia da consulta” e  “horário da consulta” e em seguida irá informar as datas disponíveis através da resposta da função “Buscar Disponibilidade”.\nPasso a passo para verificar disponibilidade no Google Calendar\n1)\tPergunte ao cliente o dia que ele quer marcar a consulta:\n“Por favor, que dia e horário você gostaria de marcar uma consulta?”\n2)\tAcione a função “Buscar Disponibilidade” e Informe os horários disponíveis:\n“Nós temos disponíveis no dia (informe a data) os seguintes horários\n\n- 08:00\n- 09:00\n- 15:00\n\nQual horário você prefere”\n\n3)\tSe o cliente escolher um horário defina as variáveis “dia da consulta”, “horário da consulta” prossiga para a “Etapa de Criação de Consulta” \n4)\tSe ele não quiser nenhum horário recomece solicitando uma nova data:\n“Ok, me informe outra data que você tem disponível”\n(se o cliente perguntar todas as datas que você tem disponível informe que o sistema só permite buscar por dia)\n\nEtapa de Criação de Consulta\nObjetivo: coletar as variáveis “procedimento” e “email do cliente” e criar uma consulta usando a função “Criar Consulta1”\nPasso a passo para Criar uma consulta no Google Calendar\n1) Após confirmar a data peça o email do cliente e o procedimento que ele quer fazer e então confirme os dados necessários para acionar a função:\n“Certo, seu email é [email do cliente], posso marcar a consulta para [dia que o cliente escolheu] às [horário que o cliente escolheu]?”\n2) Quando ele confirmar acione a ferramenta “Criar consulta1” e marque o evento na agenda. Termine enviando a mensagem de confirmação:\n“ Sua consulta foi marcada no dia:\n\n [dia da consulta] às [horário da consulta]\n\nNosso endereço:\nEncha de Beleza – Clínica de Estética\nShopping Conjunto nacional sala 1012 – Brasília – DF\n\nCaso queira cancelar a consulta por favor informar o número do protocolo: (“Event_ID”)\n\nAlgo mais que eu possa te ajudar?”\n\nEtapa de Cancelar uma Consulta\nAcione a função: “Deletar Consulta”\nObjetivo: Cancelar um agendamento mediante o fornecimento do protocolo (“Event_ID”)\nInstruções:\n1)\tSolicitar o número do protocolo\n2)\tDeletar o evendo considerando o “Event_ID” como o número do protocolo informado pelo cliente.\n3)\tConfirmar o cancelamento e informar o cliente com uma mensagem clara.\n“O Agendamento do [Event_ID] foi cancelado com sucesso\nCaso deseje reagendar ou tenha alguma dúvida, estamos à disposição”\n\nRegra: nunca esqueça que a data de hoje é {{ $('Dados Evo').item.json.data }}e que eventos futuros só podem ser criados para data após hoje\n\n\n"
        }
      },
      "id": "cc66a4c1-293a-46c1-8e5b-c5b4aabfdc1b",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3540,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1xOn6BbGwqbSrQ0u-_tLf82BJoQpwTW21/view?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "id": "dfff7b7d-958b-4553-8b5a-e04ec10994ec",
      "name": "Aprendizado",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1160,
        680
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7IRfP4CieS5jqr5G",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "aula",
          "mode": "list",
          "cachedResultName": "aula"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "6ed16bd6-f5cc-4515-aaa7-4fd2bc7b2628",
      "name": "Insere no Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1340,
        680
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "JA3PuNXEQTTYtCTc",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2460,
        640
      ],
      "id": "e07538c0-dff5-4199-af8f-cae921f98be3",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2240,
        800
      ],
      "id": "23def014-98dd-4262-b870-41394a26ea21",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "7ef14da0571c99368753d98b11a2cc6f6f4a203c72a392f2af992a878a54eb54@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "aula"
        },
        "eventId": "={{ $fromAI(\"Event_ID\", \"O identificador único do evento a ser deletado\", \"string\") }}",
        "options": {}
      },
      "id": "ddc5e4db-d22b-403c-a026-6e8984c523fb",
      "name": "Deletar Consulta",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        3440,
        920
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0elrj2FjVuo3rbj0",
          "name": "Google Calendar Aula"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "7ef14da0571c99368753d98b11a2cc6f6f4a203c72a392f2af992a878a54eb54@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "aula"
        },
        "timeMin": "={{ $fromAI(\"Initital_DateTime\", \"Data e hora inicial da consulta Ex.: 2024-10-17 00:00:00\") }}",
        "timeMax": "={{ $fromAI(\"Final_DateTime\", \"Data e hora final da consulta Ex.: 2024-10-17 00:00:00\") }}",
        "options": {}
      },
      "id": "775f9b1d-c149-448e-a392-b28043c2ccde",
      "name": "Buscar Disponibilidade",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        3700,
        940
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0elrj2FjVuo3rbj0",
          "name": "Google Calendar Aula"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "7ef14da0571c99368753d98b11a2cc6f6f4a203c72a392f2af992a878a54eb54@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "aula"
        },
        "start": "={{ $fromAI(\"Start_Time\",\"Horário inicial do evento ex.:2024-10-08 00:00:00\") }}",
        "end": "={{ $fromAI(\"End_Time\",\"Horário final do evento ex.:2024-10-08 00:01:00\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI (\"e-mail\", \"o email do cliente\") }}"
          ],
          "sendUpdates": "all",
          "summary": "=Consulta - {{ $fromAI(\"Nome\") }}"
        }
      },
      "id": "bc01f837-6611-49bb-81b1-6430f50dac2c",
      "name": "Criar Consulta1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        3960,
        900
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0elrj2FjVuo3rbj0",
          "name": "Google Calendar Aula"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "556182906699@s.whatsapp.net",
        "sessionTTL": 100000
      },
      "id": "dcbce489-1735-47d3-9e21-5fd490d7ba72",
      "name": "Delete Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        2800,
        1040
      ],
      "credentials": {
        "redis": {
          "id": "2JHsCi9XbhNHMObQ",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Aprendizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Áudio": {
      "main": [
        [
          {
            "node": "Conversor Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagens": {
      "main": [
        [
          {
            "node": "Conversor Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Documentos": {
      "main": [
        [
          {
            "node": "Conversor Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversor Áudio": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversor Imagem": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversor Docs": {
      "main": [
        [
          {
            "node": "Extrair Dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        [
          {
            "node": "Captura Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Evo": {
      "main": [
        [
          {
            "node": "Tipo de Mídia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura Mensagens": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solta Mensagens": {
      "main": [
        [
          {
            "node": "Controle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Mensagem": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta o Pacote": {
      "main": [
        [
          {
            "node": "Deleta Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controle": {
      "main": [
        [
          {
            "node": "Junta o Pacote",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Dados Evo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mídia": {
      "main": [
        [
          {
            "node": "Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Solta Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados1": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Enviar Mensagem WhatsApp Evo 2.1.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprendizado": {
      "main": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Disponibilidade": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Consulta1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aea4e727-ab19-4696-9ba1-19ee52504f81",
  "meta": {
    "instanceId": "58cc0c4cd7fd05cd962f915af303d737ed1e5454823f78ff824c08c5e070f7a7"
  },
  "id": "BecDZw6qjSIxeRGb",
  "tags": []
}